/hs-tree-sitter-capi/vendor/               linguist-vendored
/hs-tree-sitter-test/test/data/jQuery.js   linguist-vendored
/tree-sitter-javascript/vendor/            linguist-vendored
/tree-sitter-while/binding.gyp             linguist-generated
/tree-sitter-while/bindings/c              linguist-generated
/tree-sitter-while/bindings/go             linguist-generated
/tree-sitter-while/bindings/node           linguist-generated
/tree-sitter-while/bindings/python         linguist-generated
/tree-sitter-while/bindings/rust           linguist-generated
/tree-sitter-while/bindings/swift          linguist-generated
/tree-sitter-while/build                   linguist-generated
/tree-sitter-while/Cargo.toml              linguist-generated
/tree-sitter-while/CMakeLists.txt          linguist-generated
/tree-sitter-while/go.mod                  linguist-generated
/tree-sitter-while/Makefile                linguist-generated
/tree-sitter-while/node_modules            linguist-generated
/tree-sitter-while/Package.swift           linguist-generated
/tree-sitter-while/pyproject.toml          linguist-generated
/tree-sitter-while/setup.py                linguist-generated
/tree-sitter-while/src                     linguist-generated
/tree-sitter-while/test                    linguist-generated
/tree-sitter-while/tree-sitter.json        linguist-generated
